#normal.button
{
    -fx-padding: 8 0 15 0;
    -fx-background-insets: 0, 0 0 6 0, 0 0 7 0, 0 0 8 0;
    -fx-background-radius: 10;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #7A301B 0%, #7A301B 100%),
        #9d4024,
        #B6714F,
        radial-gradient(center 50% 50%, radius 100%, #B6714F, #9C3E23);
}

#normal.button:hover
{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#normal.button:armed
{
    -fx-padding: 12 0 11 0;
    -fx-background-insets: 4 0 0 0, 4 0 2 0, 4 0 3 0, 4 0 4 0;
}

#transparent.button
{
    -fx-padding: 0;
}

#transparent.button:armed
{
    -fx-padding: 4 0 -4 0;
}

.button:disabled
{
	-fx-opacity:1;
}

#switch-button.button
{
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #7A301B 0%, #7A301B 100%),
        #9d4024,
        #B6714F,
        radial-gradient(center 50% 50%, radius 100%, #B6714F, #9C3E23);
}

#switch-button-hover.button
{
	-fx-background-radius: 8;
	-fx-background-color:
		linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
		#9d4024,
		#d86e3a,
		radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#switch-button.button:armed, #switch-button-hover.button:armed
{

}
