.list-cell:even
{
	-fx-background-color: #FFEBCD;
}

.list-cell:odd
{
	-fx-background-color: #EDD1A6;
}

.list-cell:hover
{
	-fx-background-color: #E37645;
}
 
.list-cell:selected
{
	-fx-background-color: #AB5C3D;
}

.list-view:disabled, .list-cell:disabled, .list-view .scroll-bar:disabled
{
	-fx-opacity: 1;
}
