#small.radio-button .radio, .radio-button:focused .radio
{
    -fx-border-width: 2px;
    -fx-border-color: #000;
    -fx-border-radius: 10px;
	
    -fx-background-color: #CF9788;
	-fx-background-radius: 10px;
	-fx-padding: 3px;
}

#small.radio-button:selected .radio .dot
{
	-fx-background-color:#903b12;
	-fx-background-radius: 10px;
	-fx-background-insets: 1 1 1 1;
}

#big.radio-button .radio, .radio-button:focused  .radio
{
    -fx-border-width: 3px;
    -fx-border-color: #000;
    -fx-border-radius: 30px;
	
    -fx-background-color: #CF9788;
	-fx-background-radius: 30px;
	-fx-padding: 5px;
}

#big.radio-button:selected .radio .dot
{
	-fx-background-color:#903b12;
	-fx-background-radius: 30px;
	-fx-background-insets: 1 1 1 1;
}

.radio-button:disabled
{
	-fx-opacity: 1;
}