.toggle-button
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8px;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #7A301B 0%, #7A301B 100%),
        #9d4024,
        #B6714F,
        radial-gradient(center 50% 50%, radius 100%, #B6714F, #9C3E23);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-border-color: transparent;
	-fx-border-radius: 8px;
	-fx-border-width: 3px;
}

.toggle-button:selected, .segmentedToggleButton.toggle-button:selected
{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.toggle-button:selected:hover, .segmentedToggleButton.toggle-button:selected:hover
{
	-fx-border-color: brown;
}

.toggle-button:hover, .segmentedToggleButton.toggle-button:hover
{
    -fx-border-color: #C67456;
}

.toggle-button:armed, .segmentedToggleButton.toggle-button:armed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.toggle-button:disabled, .segmentedToggleButton.toggle-button:disabled
{
	-fx-opacity:1;
}

.segmentedToggleButton.toggle-button
{
    -fx-padding: 8 15 15 15;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #7A301B 0%, #7A301B 100%),
        #9d4024,
        #B6714F,
        radial-gradient(center 50% 50%, radius 100%, #B6714F, #9C3E23);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-border-color: transparent;
	-fx-border-width: 3px;
}

.toggle-button.segmentedToggleButton.first
{
    -fx-background-radius: 8px 0 0 8px;
	-fx-border-radius: 8px 0 0 8px;
}

.toggle-button.segmentedToggleButton.last
{
	-fx-background-radius: 0 8px 8px 0;
	-fx-border-radius: 0 8px 8px 0;
}